[Unit]
Description=rtl_tcp Server
After=network.target

[Service]
ExecStart=/usr/local/bin/rtl_tcp -d 0 -g 49.6 -p 1234
WorkingDirectory=/home/websdr
Restart=always
RestartSec=3
User=websdr
SyslogIdentifier=rtl_tcp0

[Install]
WantedBy=multi-user.target

