[Unit]
Description=rtl_tcp Server
After=network.target

[Service]
## Ajuste PPM dongle serial 00000002
ExecStart=/usr/local/bin/rtl_tcp -d 1 -g 49.6 -p 1235
WorkingDirectory=/home/websdr
Restart=always
RestartSec=3
User=websdr
SyslogIdentifier=rtl_tcp1

[Install]
WantedBy=multi-user.target

