[Unit]
Description=rtl_tcp Server
After=network.target

[Service]
ExecStart=/usr/local/bin/rtl_tcp -d 3 -g 42.0 -p 1237
WorkingDirectory=/home/websdr
Restart=always
RestartSec=3
User=websdr
SyslogIdentifier=rtl_tcp1

[Install]
WantedBy=multi-user.target

